{% extends "base.html" %}
{% block content %}
<div>
    <button onclick="navigateToHome();">
        Quay lại
    </button>
</div>
<div>
    <label for="lop">Chọn lớp:</label>
    <select id="lop" name="lop">
        <option value="1">Lớp 1</option>
        <option value="2">Lớp 2</option>
        <option value="3">Lớp 3</option>
        <option value="4">Lớp 4</option>
        <option value="5">Lớp 5</option>
        <option value="6">Lớp 6</option>
        <option value="7">Lớp 7</option>
        <option value="8">Lớp 8</option>
        <option value="9">Lớp 9</option>
        <option value="10">Lớp 10</option>
        <option value="11">Lớp 11</option>
        <option value="12">Lớp 12</option>
    </select>
    <label for="question">Bài toán:</label>
    <math-field virtual-keyboard-mode="auto" smart-fence id="question"></math-field>
    <button>
        Xác nhận
    </button>
</div>
<div class="hidden">
    <div>

    </div>
    <div>
        <label for="user-answer">Trả lời:</label>
        <math-field virtual-keyboard-mode="auto" smart-fence id="user-answer"></math-field>
        <button>
            Gửi
        </button>
    </div>
</div>
{% endblock %}
{% block linkcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='pratice.css') }}">
{% endblock %}